/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	#color:#000;
	text-decoration:none;
	border: none;
}
.markItUpContainer  {
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	padding:5px;
	clear:both;
	display:block;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	width:99.9%;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background: transparent url(images/menu.png) no-repeat 115% 50%;
	padding-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;
	background: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #ccc;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url(images/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 5px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
	text-indent: -10000px;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:inline-block;
	//text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
}
.markItUpHeader ul ul a {
	display:block;
	color: #333;
	font-size: 12px;
	padding-left:0px;
	text-indent:0;
	width:100px;
	padding:2px 5px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color: #bbb;
}

/* -------------------------------------------------------------------
// Пользовательские классы markItUp!
// ------------------------------------------------------------------*/
.markItUp .markItUpButton a {
    font-size: 15px;
    cursor: pointer;
    color: #333;
}
.markItUpContainer ul {
    height: 20px;
    overflow-y: hidden;
}
.markItUp .bb-color ul {
	width:80px;
	padding:1px;
}
.markItUp .bb-color  li {
	border:1px solid white;
	width:25px;	height:25px;
	overflow:hidden;
	padding:0px; margin:0px;
	float:left;
}
.markItUp .bb-color ul a {
	width:25px;
	height:25px;
	text-indent:-10000px;
}
.markItUp .bb-color ul a:hover {
	background-color:none;
}

.markItUp .bb-color .col1-1 a {
	background: #ffd700;
}
.markItUp .bb-color .col1-2 a {
	background: #ffa500;
}
.markItUp .bb-color .col1-3 a {
	background: #ff0000;
}

.markItUp .bb-color .col2-1 a {
	background: #0000ff;
}
.markItUp .bb-color .col2-2 a {
	background: #800080;
}
.markItUp .bb-color .col2-3 a {
	background: #00cc00;
}

.markItUp .bb-color .col3-1 a {
	background: #ff00ff;
}
.markItUp .bb-color .col3-2 a {
	background: #808080;
}
.markItUp .bb-color .col3-3 a {
	background: #00ffff;
}

.markItUp .bb-smile ul{
	width: 135px;
	padding: 1px;
}
.markItUp .bb-smile li{
	border:none;
	width:26px;
	height:30px;
	overflow:hidden;
	float:left;
	margin:0;
	padding:0;
}
.markItUp .bb-smile ul a{
	width:26px;
	height:26px;
	text-indent:-10000px;
}
.markItUp .bb-smile .col1-0 a{padding:1px}
.markItUp .bb-smile ul a:hover {background-color:none;}

.markItUp .bb-smile .col1-1 a {
	background-image:url('/images/smiles/).gif');
}
.markItUp .bb-smile .col1-2 a {
	background-image:url('/images/smiles/(.gif');
}
.markItUp .bb-smile .col1-3 a {
	background-image:url('/images/smiles/E.gif');
}
.markItUp .bb-smile .col1-4 a {
	background-image:url('/images/smiles/D.gif');
}
.markItUp .bb-smile .col1-5 a {
	background-image:url('/images/smiles/no.gif');
}
.markItUp .bb-smile .col2-1 a {
	background-image:url('/images/smiles/hello.gif');
}
.markItUp .bb-smile .col2-2 a {
	background-image:url('/images/smiles/cry.gif');
}
.markItUp .bb-smile .col2-3 a {
	background-image:url('/images/smiles/obana.gif');
}
.markItUp .bb-smile .col2-4 a {
	background-image:url('/images/smiles/hi.gif');
}
.markItUp .bb-smile .col2-5 a {
	background-image:url('/images/smiles/oy.gif');
}
.markItUp .bb-smile .col3-1 a {
	background-image:url('/images/smiles/infat.gif');
}
.markItUp .bb-smile .col3-2 a {
	background-image:url('/images/smiles/klass.gif');
}
.markItUp .bb-smile .col3-3 a {
	background-image:url('/images/smiles/krut.gif');
}
.markItUp .bb-smile .col3-4 a {
	background-image:url('/images/smiles/aaa.gif');
}
.markItUp .bb-smile .col3-5 a {
	background-image:url('/images/smiles/zlo.gif');
}
.markItUp .bb-smile .col4-1 a {
	background-image:url('/images/smiles/blum.gif');
}
.markItUp .bb-smile .col4-2 a {
	background-image:url('/images/smiles/baby.gif');
}
.markItUp .bb-smile .col4-3 a {
	background-image:url('/images/smiles/read.gif');
}
.markItUp .bb-smile .col4-4 a {
	background-image:url('/images/smiles/blin.gif');
}
.markItUp .bb-smile .col4-5 a {
	background-image:url('/images/smiles/nyam.gif');
}
.markItUp .bb-smile .col5-1 a {
	background-image:url('/images/smiles/puls.gif');
}
.markItUp .bb-smile .col5-2 a {
	background-image:url('/images/smiles/xaxa.gif');
}
.markItUp .bb-smile .col5-3 a {
	background-image:url('/images/smiles/4moks.gif');
}
.markItUp .bb-smile .col5-4 a {
	background-image:url('/images/smiles/heart.gif');
}
.markItUp .bb-smile .col5-5 a {
	background-image:url('/images/smiles/moder.gif');
}
.markItUp .bb-nextpage a	{
	display: none;
}
.next .bb-nextpage a {
	display: block;
}

.markItUp .bb-cutpage a	{;
	display: none;
}
.cut .bb-cutpage a {
	display: block;
}
