local/antidos/
local/backup/
local/board/
local/cache/
local/chat/
local/temp/
#public/upload/files/
#public/upload/screen/
#public/upload/loader/
public/upload/avatars/
public/upload/counters
public/upload/events
public/upload/forum
public/upload/news
public/upload/photos
public/upload/pictures
public/upload/thumbnail
includes/connect.php
includes/vendor
composer.phar
composer.lock
.idea/
