local/antidos/
local/backup/
local/temp/
local/board/
upload/avatars/
upload/counters
upload/events
upload/forum
upload/news
upload/photos
upload/pictures
upload/thumbnail
includes/connect.php
includes/vendor
composer.phar
composer.lock
