/storage/backups
/storage/caches
/storage/views
/public/uploads/files
/public/uploads/avatars
/public/uploads/counters
/public/uploads/forums
/public/uploads/news
/public/uploads/photos
/public/uploads/pictures
/public/uploads/thumbnails
/public/uploads/stickers
/public/uploads/blogs
/public/uploads/boards
/public/assets/modules
/modules
/node_modules
/vendor
/upgrade
public/mix-manifest.json
composer.phar
.env
.idea/
