includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
        - modules
    level: 5
    ignoreErrors:
        # Module-view namespaces (blog::, forum::) не зарегистрированы при статическом анализе
        - message: '#Parameter \#1 \$view of function view expects view-string\|null, string given#'
          path: modules/*
          reportUnmatched: false
        # В CI каталог modules пуст, трейты ядра используются только моделями модулей
        - identifier: trait.unused
          path: app/Traits/*
          reportUnmatched: false
    excludePaths:
        # Blade-шаблоны анализирует компилятор, а не PHPStan
        - modules/*/resources/views/*
