parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between mixed and \(int\|string\) results in an error\.$#'
			identifier: instanceof.invalidExprType
			count: 1
			path: app/Classes/Feed.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Admin/BanController.php

		-
			message: '#^Call to an undefined method Illuminate\\Pagination\\LengthAwarePaginator\<int, App\\Models\\Spam\>\:\:load\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Admin/SpamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/StickerController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AjaxController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$rating\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AjaxController.php

		-
			message: '#^Anonymous function should return array\{id\: \(int\|string\), name\: mixed, stickers\: Illuminate\\Support\\Collection\<int, array\{code\: mixed, name\: mixed\}\>\} but returns array\{id\: \(int\|string\), name\: mixed, stickers\: Illuminate\\Support\\Collection\<int, array\{code\: mixed, name\: mixed\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/AjaxController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:poll\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/AjaxController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Sticker\>\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/AjaxController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\{id\: int, path\: string, name\: string, size\: string, isImage\: bool, type\: string\}, Closure\(App\\Models\\File\)\: array\{id\: int, path\: string, name\: string, size\: string, isImage\: bool, type\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: '#^Property App\\Models\\User\:\:\$subscribe \(string\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Http/Controllers/MailController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Comment.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:countAllDescendants\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Comment.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 2
			path: app/Models/Comment.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: bool\)\|null, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 2
			path: app/Models/Comment.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$countingField\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Reader.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Reader.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$author_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Spam.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Spam.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Spam.php

		-
			message: '#^Call to static method query\(\) on an unknown class App\\Models\\Photo\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:getGravatar\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Models/User.php

		-
			message: '#^Parameter \#1 \$html of class Illuminate\\Support\\HtmlString constructor expects string, Illuminate\\Support\\HtmlString given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Property Modules\\Backup\\Tests\\Feature\\BackupTest\:\:\$admin \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/Backup/Tests/Feature/BackupTest.php

		-
			message: '#^Property Modules\\Backup\\Tests\\Feature\\BackupTest\:\:\$boss \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/Backup/Tests/Feature/BackupTest.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:sendMessage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/Blog/Http/Controllers/Admin/ArticleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Http/Controllers/ArticleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Http/Controllers/ArticleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Http/Controllers/ArticleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 3
			path: modules/Blog/Http/Controllers/ArticleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Http/Controllers/ArticleController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:comments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/Blog/Http/Controllers/ArticleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$path\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Models/Article.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\Comment\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Blog/Models/Article.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Blog/Models/Article.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|null, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Blog/Models/Article.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:reject\(\) expects bool\|\(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|Illuminate\\Database\\Eloquent\\Model, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Blog/Models/Article.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, array\<int, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Blog/Models/Article.php

		-
			message: '#^Access to an undefined property Modules\\Blog\\Models\\Blog\:\:\$child\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Models/Blog.php

		-
			message: '#^Access to an undefined property Modules\\Blog\\Models\\Blog\:\:\$depth\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Models/Blog.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/Blog/Models/Blog.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$money\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Observers/ArticleObserver.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$point\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Blog/Observers/ArticleObserver.php

		-
			message: '#^Access to an undefined property Modules\\Board\\Models\\Board\:\:\$child\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Board/Models/Board.php

		-
			message: '#^Access to an undefined property Modules\\Board\\Models\\Board\:\:\$depth\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Board/Models/Board.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Board/Models/Item.php

		-
			message: '#^Property Modules\\Checker\\Tests\\Feature\\CheckerTest\:\:\$admin \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/Checker/Tests/Feature/CheckerTest.php

		-
			message: '#^Property Modules\\Checker\\Tests\\Feature\\CheckerTest\:\:\$boss \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/Checker/Tests/Feature/CheckerTest.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Guestbook/Models/Guestbook.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|null, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 2
			path: modules/Guestbook/Models/Guestbook.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:reject\(\) expects bool\|\(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|Illuminate\\Database\\Eloquent\\Model, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Guestbook/Models/Guestbook.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:sendMessage\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/Load/Http/Controllers/Admin/LoadController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$active\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$extension\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 5
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$path\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 3
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:comments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Parameter \#2 \$values of method Illuminate\\Http\\Response\:\:header\(\) expects array\|string, int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Load/Http/Controllers/Load/DownController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\Comment\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Load/Models/Down.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Load/Models/Down.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|null, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 2
			path: modules/Load/Models/Down.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:reject\(\) expects bool\|\(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|Illuminate\\Database\\Eloquent\\Model, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Load/Models/Down.php

		-
			message: '#^Access to an undefined property Modules\\Load\\Models\\Load\:\:\$child\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Load/Models/Load.php

		-
			message: '#^Access to an undefined property Modules\\Load\\Models\\Load\:\:\$depth\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Load/Models/Load.php

		-
			message: '#^Offset string on array\{\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: modules/Load/Services/ZipTree.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Lottery/Http/Controllers/IndexController.php

		-
			message: '#^Access to an undefined property Modules\\Lottery\\Models\\Lottery\:\:\$winners\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Lottery/Http/Controllers/IndexController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: modules/News/Http/Controllers/NewsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed\.$#'
			identifier: property.notFound
			count: 1
			path: modules/News/Http/Controllers/NewsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: modules/News/Http/Controllers/NewsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 3
			path: modules/News/Http/Controllers/NewsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: modules/News/Http/Controllers/NewsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:comments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/News/Http/Controllers/NewsController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\Comment\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/News/Models/News.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/News/Models/News.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|null, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 2
			path: modules/News/Models/News.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:reject\(\) expects bool\|\(callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: bool\)\|Illuminate\\Database\\Eloquent\\Model, Closure\(App\\Models\\File\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: modules/News/Models/News.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:sendMessage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/Offer/Http/Controllers/Admin/OfferController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Offer/Http/Controllers/OfferController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Offer/Http/Controllers/OfferController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Offer/Http/Controllers/OfferController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 3
			path: modules/Offer/Http/Controllers/OfferController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Offer/Http/Controllers/OfferController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:comments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/Offer/Http/Controllers/OfferController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\Comment\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Offer/Models/Offer.php

		-
			message: '#^Property Modules\\PageEditor\\Tests\\Feature\\PageEditorTest\:\:\$admin \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/PageEditor/Tests/Feature/PageEditorTest.php

		-
			message: '#^Property Modules\\PageEditor\\Tests\\Feature\\PageEditorTest\:\:\$boss \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/PageEditor/Tests/Feature/PageEditorTest.php

		-
			message: '#^Access to an undefined property Modules\\Payment\\Models\\Order\:\:\$description\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Payment/Services/YooKassaService.php

		-
			message: '#^Access to an undefined property Modules\\Payment\\Models\\Order\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Payment/Services/YooKassaService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Photo/Http/Controllers/PhotoController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Photo/Http/Controllers/PhotoController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Photo/Http/Controllers/PhotoController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 3
			path: modules/Photo/Http/Controllers/PhotoController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Photo/Http/Controllers/PhotoController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:comments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/Photo/Http/Controllers/PhotoController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\Comment\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Photo/Models/Photo.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\|string\)\: mixed, Closure\(App\\Models\\File\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: modules/Photo/Models/Photo.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$language\.$#'
			identifier: property.notFound
			count: 1
			path: modules/SocialAuth/Http/Controllers/SocialAuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$level\.$#'
			identifier: property.notFound
			count: 1
			path: modules/SocialAuth/Http/Controllers/SocialAuthController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/SocialAuth/Http/Controllers/SocialAuthController.php

		-
			message: '#^Parameter \#1 \$user of static method Illuminate\\Support\\Facades\\Auth\:\:login\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: modules/SocialAuth/Http/Controllers/SocialAuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: modules/SocialAuth/Tests/Feature/RegistrationTest.php

		-
			message: '#^Parameter \#1 \$user of method Illuminate\\Foundation\\Testing\\TestCase\:\:assertAuthenticatedAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 2
			path: modules/SocialAuth/Tests/Feature/RegistrationTest.php

		-
			message: '#^Property Modules\\StyleEditor\\Tests\\Feature\\EditorTest\:\:\$admin \(App\\Models\\User\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: modules/StyleEditor/Tests/Feature/EditorTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$login\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Wall/hooks.php
