<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="app/bootstrap.php" colors="true" cacheResult="false">
    <php>
        <server name="SERVER_NAME" value="rotor.ll" />
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">./app/Controllers</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Rotor Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
