body, td, tr {
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	cursor: default;
}
body {
	padding: 1px;
	color: #858585;
	background-color: #fff;
	background-image: url(../img/bg.png);
	max-width: 600px;
	text-align: left;
	margin: auto;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 5px;
}


h1 {
  font-size: 18px;
}

h1 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
	font-size: 80%;
}

.breadcrumbs {
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

a:active, a:visited, a:link {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #aeaeae;
	text-decoration: none;
}
a.nav:active, a.nav:visited, a.nav:link {
	color: #ff7f00;
	font-weight: bold;
	text-decoration: none;
}
a.nav:hover {
	font-weight: bold;
	color: #666;
	text-decoration: underline;
}
.site {
	padding: 5px 5px 5px 5px;
	background-image: url(../img/f.png);
}

.site a {
	padding : 1px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #e6e5e5;
}

.menu {
	padding : 2px 6px;
	background-image: url(../img/bp.gif);
	border-top : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
}
.menu a {
	text-decoration : none;
	font-weight : bold;
}

legend {
	color: #ccc;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	border-bottom: solid 1px #f7f7f7;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
fieldset {
	border: solid 1px #fff;
	padding-bottom: 10px;
}
form {
	margin: 0px;
	padding: 0px;
}

input, select {
	font-size: 8pt;
}
textarea {
	width: 97%;
	font-size: 9pt;
	padding: 5px;
}

table {
	margin: 1px 0px 1px 0px;
	padding: 1px 1px 1px 1px;
	font-size: 13px;
}

.img {
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	padding: 1px;
	margin : 1px 5px 1px 1px;
}

.imgright {
	float:right;
	margin : 5px;
}

.a {
	color: #666;
	background-image: url(../img/aa.gif);
	background-color: #ddd;
	border: 1px solid #ccc;
}
.b {
	font-size: 13px;
	color: #888888;
	background-image: url(../img/bb.gif);
	border: 1px solid #ccc;
	background-color: #eee;
	overflow:hidden;
	margin: 6px 0 6px 0;
	padding: 2px;
}
.c {
	color: #aaa;
	background-image: url(../img/aa.gif);
	background-color: #ddd;
	border: 1px solid #ccc;
}
.d {
	background-color : #f1f2f1;
	border-style : dotted;
	border-width : 1px;
	border-color : #b8c1b7;
	padding : 10px;
	padding-left : 30px;
	background-image : url(../../../images/img/code.gif);
	background-repeat : repeat-y;
	font-size : 11px;
	display : block;
	overflow : auto;
}

.q {
	background-image: url(../../../images/img/closequote.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-color : #fcfeeb;
	border: 1px solid #e9ebec;
	border-left: 4px solid #8394b2;
	color : #878787;
	font-size : x-small;
	padding-left : 6px;
}

.cs {
	color: #666;
	text-align : center;
	background-image: url(../img/ff.gif);
	background-color: #eee;
}

.lol {
	color: #fff;
	background-image: url(../img/lol.gif);
	background-color: #eee;
	border-top: 1px solid #ccc;
	text-align:center;
	padding: 6px 0 6px 0;
}

.form {
	color: #666;
	padding : 3px;
	background-image: url(../img/bp.gif);
	background-color: #ddd;
	border: 1px solid #ccc;
}

.login {
	color: #666;
	padding : 10px;
	margin : 0px 0 10px 0;
	background-color: #ebf9eb;
	border: 1px solid #ccc;
}

.data {
	color: #cc00cc;
	font-size: x-small;
}

hr {
	border : 1px dotted #ccc;
}

img {
	border : 0;
}

.note {
	color: #777;
	background: #eff5fb;
	border: 1px solid #81bef7;
	padding: 5px;
	margin : 5px;
	text-align: center;
	font-weight: bold;
}

.right {
	text-align: right;
	font-size: x-small;
}

.secret {
	color : #465584;
	background : #eef2f7;
	border: 1px dotted #81bef7;
	font-size: x-small;
	padding: 3px;
}

.info {
	color : #992a2a;
	background : #f2dddd;
	border: 1px solid #e3c0c0;
	padding: 3px;
}

.act {
	color: #888888;
	background : #e4eaf2;
	border: 1px solid #c3cfe1;
	padding: 3px;
}

.nav {
	padding : 4px;
	font-size : 11px;
	margin: 8px 0;
}

.nav a {
	border : 1px solid #dedede;
	padding : 2px 8px;
	font-size : 11px;
	text-decoration : none;
}

.nav a:hover {
	background-color : #f7f7f7;
	border : 1px solid #dedede;
	padding : 2px 8px;
	text-decoration : none;
	font-size : 11px;
}

.navcurrent {
	background-color : #edebeb;
	border : 1px solid #dedede;
	padding : 2px 8px;
	font-weight: bold;
	text-decoration : none;
}
