body, td, tr {
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	cursor: default;
}

body {
	padding: 1px;
	color: #858585;
	background: #fff url(../img/bg.png);
	max-width: 768px;
	text-align: left;
	border: 1px solid #ccc;
	margin: 5px auto;
}

h1 {
  font-size: 20px;
}

h1 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
	font-size: 80%;
}

.breadcrumbs {
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
}

pre {
	tab-size: 16;
	-moz-tab-size: 4;
}

a:active, a:visited, a:link {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #aeaeae;
	text-decoration: none;
}

.site {
	padding: 5px;
	background-image: url(../img/f.png);
}

.site a {
	padding : 1px;
	line-height: 20px;
	border-bottom: 1px solid #e6e5e5;
}

.menu {
	padding : 2px 6px;
	background-image: url(../img/bp.gif);
	border-top : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
	line-height: 30px;
}

.menu a {
	text-decoration : none;
	font-weight : bold;
}

legend {
	color: #ccc;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	border-bottom: solid 1px #f7f7f7;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
fieldset {
	border: solid 1px #fff;
	padding-bottom: 10px;
}
form {
	margin: 0;
	padding: 0;
}

textarea {
	width: 100%;
	font-size: 13px;
	padding: 5px;
}

table {
	margin: 1px 0;
	padding: 1px;
	font-size: 14px;
}

.img {
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	padding: 1px;
	margin : 1px 5px 1px 1px;
}

.imgright {
	float:right;
	margin : 5px;
}

.a {
	color: #666;
	background: #ddd url(../img/aa.gif);
	border: 1px solid #ccc;
}
.b {
	font-size: 14px;
	color: #888888;
	border: 1px solid #ccc;
	background: #eee url(../img/bb.gif);
	overflow:hidden;
	margin: 6px 0 6px 0;
	padding: 2px;
}

.b .pull-right i {
    font-size: 12px;
    color: #9d9d9d;
}

.c {
	color: #aaa;
	background: #ddd url(../img/aa.gif);
	border: 1px solid #ccc;
}

.cs {
	color: #666;
	text-align : center;
	background: #eee url(../img/ff.gif);
}

.lol {
	color: #fff;
	background: #eee url(../img/lol.gif);
	border-top: 1px solid #ccc;
	text-align:center;
	padding: 6px 0 6px 0;
}

.form {
	color: #666;
	padding : 3px;
	background: #ddd url(../img/bp.gif);
	border: 1px solid #ccc;
}

.login {
	color: #666;
	padding : 10px;
	margin : 0 0 10px 0;
	background-color: #ebf9eb;
	border: 1px solid #ccc;
}

.data {
	color: #cc00cc;
	font-size: x-small;
}

hr {
	border : 1px dotted #ccc;
	margin: 10px 0;
}

img {
	border : 0;
}

.note {
	color: #777;
	background: #eff5fb;
	border: 1px solid #81bef7;
	padding: 5px;
	margin : 5px;
	text-align: center;
	font-weight: bold;
}

.right {
	text-align: right;
	font-size: x-small;
}

.info {
	color : #992a2a;
	background : #f2dddd;
	border: 1px solid #e3c0c0;
	padding: 3px;
}

.act {
	color: #888888;
	background : #e4eaf2;
	border: 1px solid #c3cfe1;
	padding: 3px;
}

.message {
	overflow: hidden;
	text-overflow: ellipsis;
}
