/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
    margin:0; padding:0;
    outline:none;
}
.markItUp a:link,
.markItUp a:visited {
    #color:#000;
    text-decoration:none;
    border: none;
}
.markItUpContainer  {
    font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
    padding:5px;
    clear:both;
    display:block;
    overflow:auto;
}
.markItUpPreviewFrame	{
    overflow:auto;
    background-color:#FFFFFF;
    width:99.9%;
    margin:5px 0;
}
.markItUpFooter {
    width:100%;
}
.markItUpResizeHandle {
    overflow:hidden;
    width:22px; height:5px;
    margin-left:auto;
    margin-right:auto;
    background-image:url(/assets/js/markitup/images/handle.png);
    cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
    list-style:none;
    float:left;
    position:relative;
}
.markItUpHeader ul li:hover > ul{
    display:block;
}
.markItUpHeader ul .markItUpDropMenu {
    background: transparent url(/assets/js/markitup/images/menu.png) no-repeat 115% 50%;
    padding-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li {
    margin-right:0;
}
/* next rows of buttons */
.markItUpHeader ul ul {
    display:none;
    position:absolute;
    top:18px; left:0;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
}
.markItUpHeader ul ul li {
    float:none;
    border-bottom:1px solid #ccc;
}
.markItUpHeader ul ul .markItUpDropMenu {
    background:#FFF url(/assets/js/markitup/images/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
    margin:0 5px;
    width:1px;
    height:16px;
    overflow:hidden;
    background-color:#CCC;
    text-indent: -10000px;
}
.markItUpHeader ul ul .markItUpSeparator {
    width:auto; height:1px;
    margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
    position:absolute;
    top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
    float:none;
}
.markItUpHeader ul a {
    display:inline-block;
    //text-indent:-10000px;
    background-repeat:no-repeat;
    padding:3px;
}
.markItUpHeader ul ul a {
    display:block;
    color: #333;
    font-size: 12px;
    text-indent:0;
    width:100px;
    padding: 2px 5px;
    background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
    color: #bbb;
}

/* ------------------------------------------------------------------- */
.markItUp .markItUpButton a {
    font-size: 15px;
    cursor: pointer;
    color: #333;
}
.markItUp .bb-color ul {
    width:80px;
    padding:1px;
}
.markItUp .bb-color  li {
    border:1px solid white;
    width:25px;	height:25px;
    overflow:hidden;
    padding:0; margin:0;
    float:left;
}
.markItUp .bb-color ul a {
    width:25px;
    height:25px;
    text-indent:-10000px;
}

.markItUp .bb-color .col1-1 a {
    background: #ffd700;
}
.markItUp .bb-color .col1-2 a {
    background: #ffa500;
}
.markItUp .bb-color .col1-3 a {
    background: #ff0000;
}

.markItUp .bb-color .col2-1 a {
    background: #0000ff;
}
.markItUp .bb-color .col2-2 a {
    background: #800080;
}
.markItUp .bb-color .col2-3 a {
    background: #00cc00;
}

.markItUp .bb-color .col3-1 a {
    background: #ff00ff;
}
.markItUp .bb-color .col3-2 a {
    background: #808080;
}
.markItUp .bb-color .col3-3 a {
    background: #00ffff;
}

.markItUp .bb-sticker ul{
    width: 135px;
    padding: 1px;
}
.markItUp .bb-sticker li{
    border:none;
    width:26px;
    height:30px;
    overflow:hidden;
    float:left;
    margin:0;
    padding:0;
}
.markItUp .bb-sticker ul a{
    width:26px;
    height:26px;
    text-indent:-10000px;
}
.markItUp .bb-sticker .col1-0 a{padding:1px}

.markItUp .bb-sticker .col1-1 a {
    background-image:url('/uploads/stickers/).gif');
}
.markItUp .bb-sticker .col1-2 a {
    background-image:url('/uploads/stickers/(.gif');
}
.markItUp .bb-sticker .col1-3 a {
    background-image:url('/uploads/stickers/E.gif');
}
.markItUp .bb-sticker .col1-4 a {
    background-image:url('/uploads/stickers/D.gif');
}
.markItUp .bb-sticker .col1-5 a {
    background-image:url('/uploads/stickers/no.gif');
}
.markItUp .bb-sticker .col2-1 a {
    background-image:url('/uploads/stickers/hello.gif');
}
.markItUp .bb-sticker .col2-2 a {
    background-image:url('/uploads/stickers/cry.gif');
}
.markItUp .bb-sticker .col2-3 a {
    background-image:url('/uploads/stickers/obana.gif');
}
.markItUp .bb-sticker .col2-4 a {
    background-image:url('/uploads/stickers/hi.gif');
}
.markItUp .bb-sticker .col2-5 a {
    background-image:url('/uploads/stickers/oy.gif');
}
.markItUp .bb-sticker .col3-1 a {
    background-image:url('/uploads/stickers/infat.gif');
}
.markItUp .bb-sticker .col3-2 a {
    background-image:url('/uploads/stickers/klass.gif');
}
.markItUp .bb-sticker .col3-3 a {
    background-image:url('/uploads/stickers/krut.gif');
}
.markItUp .bb-sticker .col3-4 a {
    background-image:url('/uploads/stickers/aaa.gif');
}
.markItUp .bb-sticker .col3-5 a {
    background-image:url('/uploads/stickers/zlo.gif');
}
.markItUp .bb-sticker .col4-1 a {
    background-image:url('/uploads/stickers/blum.gif');
}
.markItUp .bb-sticker .col4-2 a {
    background-image:url('/uploads/stickers/baby.gif');
}
.markItUp .bb-sticker .col4-3 a {
    background-image:url('/uploads/stickers/read.gif');
}
.markItUp .bb-sticker .col4-4 a {
    background-image:url('/uploads/stickers/blin.gif');
}
.markItUp .bb-sticker .col4-5 a {
    background-image:url('/uploads/stickers/nyam.gif');
}
.markItUp .bb-sticker .col5-1 a {
    background-image:url('/uploads/stickers/puls.gif');
}
.markItUp .bb-sticker .col5-2 a {
    background-image:url('/uploads/stickers/xaxa.gif');
}
.markItUp .bb-sticker .col5-3 a {
    background-image:url('/uploads/stickers/4moks.gif');
}
.markItUp .bb-sticker .col5-4 a {
    background-image:url('/uploads/stickers/heart.gif');
}
.markItUp .bb-sticker .col5-5 a {
    background-image:url('/uploads/stickers/moder.gif');
}
.markItUp .bb-cutpage a	{;
    display: none;
}
.cut .bb-cutpage a {
    display: block;
}

@media (max-width: 768px) {
    .markItUpContainer ul {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
        white-space: nowrap;
    }
}
