// This files are essential for the theme
@import 'themes/default/sass/variables';
@import 'bootstrap/scss/bootstrap';

@import 'themes/default/sass/component/badge';
@import 'themes/default/sass/component/button';

@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

@import "@fancyapps/ui/dist/fancybox/fancybox.css";

@import 'css/markitup';
@import 'css/toastr';
@import 'css/prettify';
@import 'css/main';

@import 'themes/mobile/sass/style';
