DirectoryIndex index.php
AddDefaultCharset UTF-8
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(ico|jpg|gif|png|css|js)$">
    ExpiresActive on
    ExpiresDefault "access plus 1 month"
</filesmatch>
</ifmodule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/x-icon "access plus 2 weeks"
    ExpiresByType image/png "access plus 2 weeks"
    ExpiresByType image/jpeg "access plus 2 weeks"
    ExpiresByType image/gif "access plus 2 weeks"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType text/css "access plus 1 week"
</IfModule>

<IfModule mod_headers.c>
<FilesMatch .*\.(js|css)$>
    Header set Cache-control: private
</FilesMatch>

<FilesMatch .*\.(gif|jpg|png)$>
    Header set Cache-control: public
</FilesMatch>
</IfModule>

<Files ~ "app|resources|rotor">
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
