.badge.bg-light {
  box-shadow: 0 0 1px #999;
}

.badge.bg-adaptive {
    color: var(--bs-body-color);
    background-color: var(--bs-tertiary-bg);
    box-shadow: 0 0 1px var(--bs-border-color);
    border: 1px solid var(--bs-border-color);
}

.badge.bg-topnav {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 0.7em;
    font-weight: 500;
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}
