.form-group {
  margin-bottom: 5px;
}

select.form-control, input.form-control {
  width: 300px;
}

textarea.form-control {
  resize: vertical;
}

.logotype {
  font-size: 28px;
  color: #666;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  line-height:normal;
}

.logotype:first-letter {
  font-size: 40px;
  color: orange;
}

@font-face {
  font-family: FontAwesome;
  src: url('/assets/fonts/fa-solid-900.woff');
}

blockquote:before {
  content: "\f10d";
  line-height: 1.0em;
  font-size: 130%;
  font-family: FontAwesome;
  float: left;
  margin-right: 10px;
  color: #c73401;
}

blockquote {
  padding: 8px 15px;
  font-size: 95%;
  background:#f2f1f6;
  border: 1px solid #ddd;
  border-left: 5px solid #ddd;
  margin: 0;
  font-style:italic;
  color:#543;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote small {
  display: block;
  font-size: 80%;
  color: #868e96;
}

blockquote small:before {
    content:'\2014 \00A0';
}

.has-error .form-control {
    border-color: #dc3545;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
    border-color: #dc3545;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.prettyprint {
  font-size: 100%;
  border-radius: 4px;
}

.spoiler {
  margin-bottom: 5px;
}

.spoiler:before {
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler.spoiler-open:before {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler-title {
  border-bottom: 1px dashed;
  color: #6da3bd;
  cursor: pointer;
  font-weight: normal;
}

.spoiler-text {
  padding: 9px 14px;
  margin: 5px 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.hiding {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #eee;
  border-left: 5px #d9534f;
  background-color: #f8f8f8;
}

/* Fix audiojs */
.audiojs .play-pause {
  width: auto;
}

.post-rating-up.active {
  color: #fff;
  background-color: #78c062;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.post-rating-down.active {
  color: #fff;
  background-color: #f75c48;
  padding: 0 3px;
  border-radius: 3px;
}

.progress {
  position: relative;
  max-width: 250px;
  height: 15px;
  margin-bottom: 10px;
}

.progress > .progress-completed {
  color: #000;
  font-size: 10px;
  position: absolute;
  right: 3px;
}

.avatar-box {
  height: 48px;
  margin-bottom: 10px;
}

.avatar-box a {
  display: block;
  border: none !important;
}
.avatar-box_image {
  float: left;
}
.avatar-box_login{
  float: left;
  margin-left: 10px;
}

.avatar {
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  float: left;
}

.avatar a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: block;
}

.pagination {
  padding-top: 20px;
}
