textarea.form-control {
  resize: vertical;
}

@font-face {
  font-family: FontAwesome;
  src: url('/assets/fonts/fa-solid-900.woff');
}

blockquote:before {
  content: "\f10d";
  line-height: 1.0em;
  font-size: 130%;
  font-family: FontAwesome;
  float: left;
  margin-right: 10px;
  color: #c73401;
}

blockquote {
  padding: 8px 15px;
  font-size: 95%;
  background:#f2f1f6;
  border: 1px solid #ddd;
  border-left: 5px solid #ddd;
  margin: 0;
  font-style:italic;
  color:#543;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote small {
  display: block;
  font-size: 80%;
  color: #868e96;
}

blockquote small:before {
    content:'\2014 \00A0';
}

.is-invalid .form-control {
  border-color: #dc3545;
}

.is-invalid .form-control:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.is-invalid .invalid-feedback {
  display: block;
}

.is-valid .form-control {
  border-color: #28a745;
}

.is-valid .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.prettyprint {
  font-size: 100%;
  border-radius: 4px;
  margin-bottom: 0;
}

.spoiler {
  margin-bottom: 5px;
}

.spoiler:before {
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler.spoiler-open:before {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler-title {
  border-bottom: 1px dashed;
  color: #6da3bd;
  cursor: pointer;
  font-weight: normal;
}

.spoiler-text {
  padding: 9px 14px;
  margin: 5px 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.hiding {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #eee;
  border-left: 5px #d9534f;
  background-color: #f8f8f8;
}

.post-rating-up.active {
  color: #fff;
  background-color: #78c062;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.post-rating-down.active {
  color: #fff;
  background-color: #f75c48;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.progress {
  position: relative;
  max-width: 250px;
  height: 15px;
  margin-bottom: 10px;
}

.progress > .progress-completed {
  color: #000;
  font-size: 10px;
  position: absolute;
  right: 3px;
}

.img {
  float:left;
  margin-right : 10px;
}

.avatar-box {
  height: 48px;
  margin-bottom: 10px;
}

.avatar-box a {
  display: block;
  border: none !important;
}
.avatar-box_image {
  float: left;
}
.avatar-box_login{
  float: left;
  margin-left: 10px;
}

.avatar {
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
}

.avatar a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  display: block;
}

.online {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 7px;
  margin-top: -14px;
  right: -34px;
  z-index: 99;
  border: 2px solid #fff;
}

.pagination {
  padding-top: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
}

.scrollup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  cursor: pointer;
  opacity: .5;
}

.scrollup:before {
  content: "\f139";
  font-family: FontAwesome;
  font-size: 35px;
}

.scrollup:hover {
  opacity: 1;
}

.message-block {
  cursor: pointer;
}

.message-block:hover {
  background-color: #eee;
}
