.form-group {
  margin-bottom: 5px;
}

select.form-control, input.form-control {
  width: 300px;
}

textarea.form-control {
  resize: vertical;
}

.logotype {
  font-size: 28px;
  color: #666;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  line-height:normal;
}

.logotype:first-letter {
  font-size: 40px;
  color: orange;
}

blockquote:before {
  content: "\f10d";
  line-height: 1.0em;
  font-size: 130%;
  font-family: FontAwesome;
  float: left;
  margin-right: 10px;
  color: #c73401;
}

blockquote {
  font-size: 95%;
  background:#f2f1f6;
  border: 1px solid #ddd;
  border-left: 5px solid #ddd;
  margin: 0 0 10px;
  font-style:italic;
  color:#543;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

.prettyprint {
  font-size: 100%;
}

.spoiler {
  margin-bottom: 5px;
}

.spoiler:before {
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler.spoiler-open:before {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler-title {
  border-bottom: 1px dashed;
  color: #6da3bd;
  cursor: pointer;
  font-weight: normal;
}

.spoiler-text {
  padding: 9px 14px;
  margin: 5px 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.hiding {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #eee;
  border-left: 5px #d9534f;
  background-color: #f8f8f8;
}

/* Fix audiojs */
.audiojs .play-pause {
  width: auto;
}

.post-rating-up.active {
  color: #fff;
  background-color: #78c062;
  padding: 0 3px;
}

.post-rating-down.active {
  color: #fff;
  background-color: #f75c48;
  padding: 0 3px;
}

.progress {
  position: relative;
  max-width: 500px;
  height: 15px;
  margin-bottom: 10px;
}

.progress > .progress-completed {
  color: #000;
  font-size: 11px;
  position: absolute;
  right: 3px;
}
