.section {
  background: var(--bs-body-bg);
  padding: 15px;
  overflow: hidden;
}

.section-body {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  overflow: hidden;
}

.section-header {
  padding-bottom: 0.5rem;
}

.section-content {

}

.section-message {
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 2;
}

.section-form {
  background: var(--base-bg);
  padding: 15px;
}

.section-media {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.avatar-default {
  height: 64px;
  width: 64px;
  text-align: center;
  font-size: 42px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.avatar-mini > .avatar-default {
  height: 32px;
  width: 32px;
  font-size: 21px;
}

.avatar-micro > .avatar-default {
    height: 20px;
    width: 20px;
    font-size: 14px;
}

.user-avatar {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 14px;
}

.user-status {
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #fff;
  left: 44px;
  bottom: 18px;
}

@media (max-width: 768px) {
  .section, .section-form {
    margin: 0 -15px;
  }

  .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .user-status {
    width: 14px;
    height: 14px;
    left: 32px;
    bottom: 14px;
  }

  .avatar-default {
    height: 48px;
    width: 48px;
    font-size: 32px;
  }

  .section-user {
    min-height: 48px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

textarea.form-control {
  resize: vertical;
}

.media-file {
  max-width: 600px;
  margin-bottom: 1rem;
}

.media-file img {
    max-height: 600px;
}

.carousel {
    position: relative;
    display: inline-block;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    margin: 10px;
}

.blockquote:before {
  content: "\f10d";
  line-height: 1.0em;
  font-size: 130%;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  float: left;
  margin-right: 10px;
  color: #c73401;
}

.blockquote {
    padding: 8px 15px;
    font-size: 90%;
    background: var(--base-bg);
    border-left: 5px solid;
    border-color: rgba(var(--bs-primary-rgb), 0.5);
    font-style:italic;
}

.blockquote-footer {
  margin: 0;
}

.is-invalid .form-control,
.is-invalid .form-select {
  border-color: var(--bs-form-invalid-border-color);
}

.is-invalid .form-control:focus,
.is-invalid .form-select:focus {
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.is-invalid .invalid-feedback {
  display: block;
}

.is-valid .form-control,
.is-valid .form-select {
  border-color: var(--bs-form-valid-border-color);
}

.is-valid .form-control:focus,
.is-valid .form-select:focus {
  border-color:var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.spoiler {
  margin-bottom: 5px;
}

.spoiler:before {
  content: "\f0da";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler.spoiler-open:before {
  content: "\f0d7";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler-title {
  border-bottom: 1px dashed;
  color: #6da3bd;
  cursor: pointer;
  font-weight: normal;
}

.spoiler-text {
  padding: 10px 15px;
  margin: 0.5rem 0;
  background-color: var(--base-bg);
}

.hidden-text {
  padding: 10px;
  margin: 0.5rem 0;
  background-color: var(--base-bg);
  font-size: 90%;
}

.post-rating-up.active {
  color: #fff;
  background-color: #78c062;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.post-rating-down.active {
  color: #fff;
  background-color: #f75c48;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.scrollup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  opacity: .2;
}

.scrollup:before {
  content: "\f139";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 30px;
}

.scrollup:hover {
  opacity: .5;
}

.message-block {
  overflow: hidden;
  cursor: pointer;
}

.message-block:hover,
.message-block:focus {
  background-color: var(--base-bg);
}

.pagination {
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .pagination .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
  }
}

.performance {
  background-color: var(--base-bg);
  border: 1px solid var(--bs-border-color);
  margin: 10px 0;
  padding: 10px;
}

.performance .list-inline {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .performance {
    font-size: 0.75rem;
  }
}

.stretched-link[aria-expanded=true] .treeview-indicator {
  transform: rotate(180deg);
}

.progress {
  position: relative;
  max-width: 500px;
  height: 15px;
  margin-bottom: 10px;
}

.pre-scrollable {
  max-height: 340px;
}

.form-required .form-label:after {
    content:"*";
    color:red;
}

/* Surprise */
.surprise-container {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    -webkit-flex: none;
    flex: none;
}

.surprise-ded {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 2;
}

.surprise-glasses {
    position: absolute;
    top: 24px;
    left: 9px;
    z-index: 3;
    -webkit-transform: translate(0, 0) rotate(
        5deg);
    transform: translate(0, 0) rotate(
        5deg);
    transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
}

.surprise-background {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 1;
    opacity: 0;
    transition: 0.3s opacity ease-out;
}

.surprise-container:hover .surprise-background {
    opacity: 1;
}

.surprise-container:hover .surprise-glasses {
    -webkit-transform: translate(-2px, -5px) rotate(
        -10deg);
    transform: translate(-2px, -5px) rotate(
        -10deg);
}

/* Fix input width in form-group */
.form-control-color {
    max-width: 3rem;
}
