/* New theme */
.section {
  background: #fff;
  padding: 15px;
  overflow: hidden;
}

.section-body {
  overflow: hidden;
}

.section-header {

}

.section-content {

}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 2;
}

.section-form {
  background: #fff;
}

.section-media {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-radius: .25rem;
  border-left: .25rem solid #d9534f;
}

.avatar-default {
  height: 64px;
  width: 64px;
  text-align: center;
  font-size: 42px;
}

.avatar-mini > .avatar-default {
  height: 32px;
  width: 32px;
}

.avatar-default a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.user-avatar {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 14px;
}

.user-status {
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid #fff;
  left: 44px;
  bottom: 18px;
}

@media (max-width: 768px) {
  .section {
    padding: 10px;
  }

  .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .user-status {
    width: 14px;
    height: 14px;
    left: 32px;
    bottom: 14px;
  }

  .avatar-default {
    height: 48px;
    width: 48px;
    font-size: 32px;
  }

  .section-user {
    min-height: 48px;
  }
}

.main-register {
  background-image:url('/assets/img/mains/record.png');
  background-position: 100% 85%;
  background-size: auto 100%;
  background-repeat:no-repeat;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-light, .badge-light, .alert-light {
  border: 1px solid #e1e1e8;
}

/* New theme */

textarea.form-control {
  resize: vertical;
}

.media-file {
  max-width: 600px;
  margin-bottom: 1rem;
}

.blockquote:before {
  content: "\f10d";
  line-height: 1.0em;
  font-size: 130%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: left;
  margin-right: 10px;
  color: #c73401;
}

.blockquote {
  padding: 8px 15px;
  font-size: 95%;
  background:#f7f7f9;
  border-left: 5px solid #ddd;
  font-style:italic;
}

.is-invalid .form-control {
  border-color: #dc3545;
}

.is-invalid .form-control:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.is-invalid .invalid-feedback {
  display: block;
}

.is-valid .form-control {
  border-color: #28a745;
}

.is-valid .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.spoiler {
  margin-bottom: 5px;
}

.spoiler:before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler.spoiler-open:before {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler-title {
  border-bottom: 1px dashed;
  color: #6da3bd;
  cursor: pointer;
  font-weight: normal;
}

.spoiler-text {
  padding: 9px 14px;
  margin: 5px 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.post-rating-up.active {
  color: #fff;
  background-color: #78c062;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.post-rating-down.active {
  color: #fff;
  background-color: #f75c48;
  padding: 0 3px;
  display: inline-block;
  border-radius: 3px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  height: 35px;
  width: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-next-icon:after {
  content: "\f138";
}

.carousel-control-prev-icon:after {
  content: "\f137";
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.scrollup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  opacity: .2;
}

.scrollup:before {
  content: "\f139";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}

.scrollup:hover {
  opacity: .5;
}

.message-block {
  overflow: hidden;
  cursor: pointer;
}

.message-block:hover,
.message-block:focus {
  background-color: #eee;
}
