.prettyprint .com { color: var(--base-comment); }
.prettyprint .lit { color: var(--base-number); }
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo { color: var(--base-emphasis); }
.prettyprint .fun { color: var(--base-fun); }
.prettyprint .str { color: var(--base-str); }
.prettyprint .atv { color: var(--base-atv); }
.prettyprint .kwd { color: var(--base-attr); }
.prettyprint .tag { color: var(--base-tag); }
.prettyprint .typ, .prettyprint .var { color: var(--base-class); }
.prettyprint .dec { color: var(--base-dec); }
.prettyprint .atn { color: var(--base-symbol); }
.prettyprint .pln { color: var(--base-code); }

.prettyprint {
  background: var(--base-bg);
  color: var(--base-color);
  display: block;
  white-space: pre;
  overflow-x:auto;
  word-wrap: normal;
  tab-size: 2;
  padding: 5px;
  font-size: 90%;
  margin: 0.5rem 0;
}

.prettyprint ol {
    margin-bottom: 0;
}
