.logotype {
  font-size: 28px;
  color: #666;
  text-indent: 0px;
  display: inline-block;
  font-weight: bold;
  line-height:normal;
}

.logotype:first-letter {
  font-size: 40px;
  color: orange;
}

blockquote:before {
  content: "\f10d";
  font-size: 150%;
  font-family: FontAwesome;
  float: left;
  margin-right: 10px;
}

blockquote {
  font-size: 100%;
  background-color: #eff;
  border: 1px dotted #ddd;
  border-left: 5px solid #ddd;
  margin: 0 0 10px;
  font-style:italic;
  color:#a2a2a2;
}

.prettyprint {
  font-size: 100%;
}

.spoiler {
  margin-bottom: 5px;
}

.spoiler:before {
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler.spoiler-open:before {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 17px;
  color: #bbb;
  margin: 0 5px 0 2px;
}

.spoiler-title {
  border-bottom: 1px dashed;
  color: #6da3bd;
  cursor: pointer;
  font-weight: normal;
}

.spoiler-text {
  padding: 9px 14px;
  margin: 5px 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.hiding {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #d9534f;
  background-color: #f8f8f8;
}
