body
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #1A2E33;
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
	background-image: url(../img/Page-BgSimpleGradient.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 933px;
}

.note {
	color: #777;
	background: #eff5fb;
	border: 1px solid #81bef7;
	padding: 5px;
	margin : 5px;
	text-align: center;
	font-weight: bold;
}
.data {
	 color: #cc00cc;
	 font-size: x-small;
}

.right {
	 text-align: right;
	 font-size: x-small;
}

.form {
	color: #666;
	padding : 3px;
	background-color: #f3f3f3;
	border: 1px dotted #ccc;
}

.login {
	color: #666;
	padding : 10px;
	margin : 0px 0 10px 0;
	background-color: #ebf9eb;
	border: 1px solid #cccccc;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}

.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:61px;
	min-height:61px;
}

.art-Sheet-body
{
	position: relative;
	z-index:1;
	padding: 9px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 88px;
	height: 88px;
	background-image: url(../img/Sheet-s.png);
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 44px, 44px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, 10000px, 44px, 44px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(44px, 44px, 10000px, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(44px, 10000px, 10000px, 44px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 44px;
	right: 44px;
	height: 88px;
	background-image: url(../img/Sheet-h.png);
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, 10000px, 44px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(44px, 10000px, 10000px, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 44px;
	bottom: 44px;
	width: 88px;
	background-image: url(../img/Sheet-v.png);
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, 10000px, 10000px, 44px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 44px, 10000px, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 44px;
	left: 44px;
	right: 44px;
	bottom: 44px;
	background-color: #E0EDF0;
}


.art-Sheet
{
	margin-top: 1px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:900px;
}

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(../img/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}


.nmenu {
	text-align : left;
	padding : 3px;
}
.nmenu a {
	text-decoration : none;
	color : #999;
	font-weight : bold;
}
.nmenu a:hover {
	text-decoration : underline;
	color : #ccc;
}


.b {
	font-size : 1.2em;
	color : #333;
	background-color : #9BC7F3;
	background-image: url(../img/Block-c.png);
	padding : 3px;
	overflow:hidden;
}

.info {
	color : #992a2a;
	background : #f2dddd;
	border: 1px solid #e3c0c0;
	padding: 3px;
	margin :  1px 0 1px 0;
}

.act {
	color: #888888;
	background : #e4eaf2;
	border: 1px solid #c3cfe1;
	padding: 3px;
	margin :  1px 0 1px 0;
}

hr {
	border : 1px dotted #ccc;
}

.img {
	float:left;
	padding : 0px;
	margin-right : 5px;
}

.imgright {
	float:right;
	margin : 5px;
}

.divb
{
	border: 1px solid #e0edf0;
	font-size: 1.2em;
	font-weight: bold;
	color: #e0edf0;
	background-color: #7bb0bc;
	padding: 3px;
	margin-bottom: 3px;
	overflow: hidden;
}

.art-menu
{
	padding: 6px 14px 0px 14px;
}

.art-nav
{
	position: relative;
	height: 40px;
	z-index: 100;
}

.art-nav .l, .art-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 40px;
	background-image: url(../img/nav.png);
}

.art-nav .l
{
	left: 0;
	right:14px;
}

.art-nav .r
{
	right: 0;
	width: 982px;
	clip: rect(auto, 10000px, 10000px, 868px);
}

.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 34px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 3px;
	margin-left: 3px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 102px;
	background-image: url(../img/MenuItem.png);
}

.art-menu a .l
{
	left:0;
	right:17px;
}

.art-menu a .r
{
	width:434px;
	right:0;
	clip: rect(auto, 10000px, 10000px, 417px);
}

.art-menu a .t
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #132225;
	padding: 0 2px;
	margin: 0 17px;
	line-height: 34px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-34px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-34px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-34px;
}
.art-menu a:hover .t
{
	color: #FCEEE8;
}

.art-menu li:hover a .t
{
	color: #FCEEE8;
}

.art-menu li:hover>a .t
{
	color: #FCEEE8;
}


.art-menu a.active .l, .art-menu a.active .r
{
	top: -68px;
}

.art-menu a.active .t
{
	color: #244147;
}

.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 16px;
	width: 150px;
	overflow:hidden;
	line-height: 16px;
	margin-right: auto;


	background-image: url(../img/subitem-bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 16px;
	color: #FAE3DB;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #000000;
	background-position: 0 -16px;
}

.art-menu ul li:hover>a
{
	color: #000000;
	background-position: 0 -16px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #000000;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #000000;
}

.art-contentLayout
{
	position: relative;
	margin-bottom: 7px;
	width: 982px;
}

.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.art-Block-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-br, .art-Block-bl
{
	width: 14px;
	height: 14px;
	background-image: url(../img/Block-b.png);
}


.art-Block-tr, .art-Block-tl
{
	width: 14px;
	height: 14px;
	background-image: url(../img/Block-s.png);
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, 10000px, 7px, 7px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, 10000px, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, 10000px, 10000px, 7px);
}

.art-Block-tc, .art-Block-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url(../img/Block-h.png);
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, 10000px, 7px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(7px, 10000px, 10000px, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url(../img/Block-v.png);
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, 10000px, 10000px, 7px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 7px, 10000px, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-image: url(../img/Block-c.png);
}


.art-Block
{
	margin: 6px;
}

.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 0px;
}



.art-BlockContent-body
{
	color:#16282C;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.art-BlockContent-body a:link
{
	color: #007994;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #5497A6;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #00A2C7;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #203B40;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 5px;
	background-image: url(../img/BlockContentBullets.png);
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}

.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:23px;
	min-height:23px;
}

.art-Post-body
{
	position: relative;
	z-index:1;
	padding: 15px;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl, .art-Post-tc, .art-Post-bc,.art-Post-cr, .art-Post-cl
{
	position:absolute;
	z-index:-1;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl
{
	width: 30px;
	height: 30px;
	background-image: url(../img/Post-s.png);
}

.art-Post-tl
{
	top:0;
	left:0;
	clip: rect(auto, 15px, 15px, auto);
}

.art-Post-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, 10000px, 15px, 15px);
}

.art-Post-bl
{
	bottom: 0;
	left: 0;
	clip: rect(15px, 15px, 10000px, auto);
}

.art-Post-br
{
	bottom: 0;
	right: 0;
	clip: rect(15px, 10000px, 10000px, 15px);
}

.art-Post-tc, .art-Post-bc
{
	left: 15px;
	right: 15px;
	height: 30px;
	background-image: url(../img/Post-h.png);
}

.art-Post-tc
{
	top: 0;
	clip: rect(auto, 10000px, 15px, auto);
}

.art-Post-bc
{
	bottom: 0;
	clip: rect(15px, 10000px, 10000px, auto);
}

.art-Post-cr, .art-Post-cl
{
	top: 15px;
	bottom: 15px;
	width: 30px;
	background-image: url(../img/Post-v.png);
}

.art-Post-cr
{
	right:0;
	clip: rect(auto, 10000px, 10000px, 15px);
}

.art-Post-cl
{
	left:0;
	clip: rect(auto, 15px, 10000px, auto);
}

.art-Post-cc
{
	position:absolute;
	z-index:-1;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background-color: #EBF3F5;
}


.art-Post
{
	margin: 3px;
}

a img
{
	border: 0;
}

.art-article img, img.art-article
{
	border: solid 1px #9DC5CD;
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #7BB0BC;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

.art-PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 25px;
	text-align: center;
	color: #005C70;
}

.art-PostHeaderIcon-wrapper, .art-PostHeaderIcon-wrapper a, .art-PostHeaderIcon-wrapper a:link, .art-PostHeaderIcon-wrapper a:visited, .art-PostHeaderIcon-wrapper a:hover
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 25px;
	text-align: center;
	color: #005C70;
}

.art-PostHeader a:link
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  font-variant: small-caps;
  color: #00708A;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  font-variant: small-caps;
  color: #3E6F7A;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  font-variant: small-caps;
  color: #00B3DB;
}

.art-PostContent
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #1A2E33;
}

a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #0085A3;
}

a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #0085A3;
}

a:visited, a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #498592;
}

a:hover, a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #00B3DB;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 21px;
  color: #0085A3;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  color: #00B3DB;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  color: #37636D;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  color: #441909;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  color: #441909;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #441909;
}

h1 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
	font-size: 80%;
}

ol, ul
{
	color: #26444B;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;

}



.art-Post li
{
	//padding:0px 0 0px 10px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li
{
	//background-image: url(../img/PostBullets.png);
	background-repeat:no-repeat;
	//padding-left:10px;
}

blockquote p
{
	color:#0A1214;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

blockquote
{
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#CCE1E5;
	background-image:url(../img/PostQuote.png);
	background-position:left top;
	background-repeat:no-repeat;
}

.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:34px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 34px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 34px;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 26px !important;
	line-height: 34px;
	text-decoration: none !important;
	color: #FCEEE8 !important;
}

input, select, textarea
{
	border: 1px solid #7bb0bc;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #078fbb;
}

textarea {
	width : 98%;
	padding : 5px;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #F1F7F8 !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #E5FAFF !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 102px;
	background-image: url(../img/Button.png);
}

.art-button-wrapper .l
{
	left:0;
	right:17px;
}

.art-button-wrapper .r
{
	width:423px;
	right:0;
	clip: rect(auto, 10000px, 10000px, 406px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -34px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -68px;
}

.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 982px;
	margin: 5px auto 0 auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 10px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url(../img/Footer.png);
	width: 982px;
	height: 120px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url(../img/rssIcon.png);
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 32px;
	width: 24px;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#0C1618;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #DBF8FF;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #E7F1F3;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #66E3FF;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#14D4FF;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#8FBCC7;
}

.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 220px;
}

.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 542px;
}
.art-contentLayout .art-content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 761px;
}
.art-contentLayout .art-content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 761px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 981px;
}

.art-contentLayout .art-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 220px;
}

.message {
	overflow: hidden;
	text-overflow: ellipsis;
}
