// Component: Page Title

.app-title {
  justify-content: space-between;
  flex-direction: row;
  background-color: #FFF;
  margin: -30px -30px 30px -30px;
  padding: 20px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  @media print { display: none; }
  @media (max-width: 768px) {
    margin: -30px -5px 20px -5px;
    padding-top: 35px;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
  }

  p {
    margin-bottom: 0;
    font-style: italic;
    @media (max-width: 480px) { display: none; }
  }
}

.breadcrumb {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
  padding: 0;
  text-align: left;
  background-color: transparent;
  margin-top: 10px;
}
