// Component: Dropdown
// Updated styles for bootstrap dropdown

.dropdown-menu {
	border-radius: 0;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	&.dropdown-menu-end {
		left: auto;
		right: 0;
	}
}

.dropdown-item {
	.fas,
	.far,
	.icon {
		margin-right: 5px;
		vertical-align: middle;
		width: 1.25em;
	}
}
