// Component: Footer

.app-footer {
  flex: 0 0 auto;
  background-color: var(--bs-body-bg);
  padding: 10px 30px;
  transition: margin-left 0.3s ease;

  @media(min-width: 768px) {
    margin-left: var(--sidebar-width);

    .sidebar-mini & {
      margin-left: var(--sidebar-mini-width);
    }
  }

  @media (max-width: 768px) {
    min-width: 100%;
    padding: 0 15px;
  }
}
