@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&display=swap');

// This files are essential for the theme
@import 'themes/default/sass/variables';
@import 'bootstrap/scss/bootstrap';

// This styles are essential for theme
@import 'themes/default/sass/main';

// Component
@import 'themes/default/sass/header';
@import 'themes/default/sass/sidebar';
@import 'themes/default/sass/footer';

// This styles are optional based on your preference
@import 'themes/default/sass/component/badge';
@import 'themes/default/sass/component/dropdown';
@import 'themes/default/sass/component/button';
@import 'themes/default/sass/component/app-title';
@import 'themes/default/sass/component/widgets';

@import 'fa/scss/brands';
@import 'fa/scss/regular';
@import 'fa/scss/solid';
@import 'fa/scss/fontawesome';

@import 'bootstrap5-tags/tags';
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

@import 'css/markitup';
@import 'css/toastr';
@import 'css/prettify';
@import 'css/main';
