// Component: Footer

.app-footer {
  flex: 0 0 auto;
  background-color: $body-bg;
  padding: 10px 30px;

  @media(min-width: 768px) {
    margin-left: $sidebar-width;
  }

  @media (max-width: 768px) {
      padding: 0 15px;
  }
}
