// Page common styles

::selection {
  color: $white;
  background-color: darken($primary-color, 10%);
}

html {
  height: 100%;
}

.app {
  // On large devices make sidebar visible by default
  // adding sidenav-toggled class will close sidebar
  background-color: $app-bg;
  max-width: $app-width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media(min-width: 768px) {
    &.sidenav-toggled {
      .app-content { margin-left: 0; }
      .app-footer { margin-left: 0; }
      .app-sidebar { left: -$sidebar-width; }
      .app-sidebar__overlay { visibility: hidden; }
    }
  }
  // On small devices make sidebar collapsed by default
  // adding sidenav-toggled class will open sidebar
  @media(max-width: 767px) {
    overflow-x: hidden;
    .app-sidebar { left: -$sidebar-width; }
    .app-sidebar__overlay { visibility: hidden; }
    &.sidenav-toggled {
      .app-content { margin-left: 0; }
      .app-sidebar { left: 0; }
      .app-sidebar__overlay { visibility: visible; }
    }
  }
}

.app-content {
  flex: 1 0 auto;
  margin-top: 50px;
  padding: 30px;
  background-color: $body-bg;
  transition: margin-left 0.3s ease;
  @media(min-width: 768px) {
    margin-left: $sidebar-width;
  }
  @media(max-width: 767px) {
    min-width: 100%;
    padding: 15px;
  }

  @media print {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
}

.light-text { font-weight: 300 !important; }

.semibold-text { font-weight: 600 !important; }

.line-head {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.bg-notify {
  position: relative;
  top: -10px;
  right: 10px;
  margin-right: -20px;
  background-color: red;
  padding: 3px 5px;
}
